<section class="admin-user-list">
  <header>
    <h1 class="state title is-1">Admin</h1>
  </header>

  <div class="columns">
    <div class="column is-half">
      <div class="pseudo-table">
        <div class="row head">
          <div class="cell user">User</div>
          <div class="cell actions"></div>
        </div>
        <div class="row body" ng-repeat="user in admin.users">
          <div class="cell user">
            <strong>{{user.name}}</strong><br>
            <span>{{user.email}}</span>
          </div>
          <div class="cell actions">
            <a ng-click="admin.delete(user)" class="remove is-danger"><span class="fa fa-trash-o"></span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <a href="" class="button is-danger" ng-click="admin.cleanDatabse()">
        <span class="icon">
          <i class="fa fa-recycle" aria-hidden="true"></i>
        </span>
        <span>Clean Database</span>
      </a>
    </div>
  </div>

</section>
