<section class="settings">

  <header>
    <h1 class="state title is-1">Change Password</h1>
  </header>

  <form name="form" ng-submit="vm.changePassword(form)" novalidate>
    <div class="columns">
      <div class="column is-half">

        <div class="control">
          <label>Current password</label>
          <input class="input" type="password" name="password" autocomplete="off" required
          ng-model="vm.user.oldPassword" />
          <div class="notification is-danger"
          ng-class="{ visible: (form.password.$error.required && form.password.$touched) }">
            A password is required!
          </div>
        </div>

        <div class="control">
          <label>New password</label>
          <input class="input" type="password" name="newPassword" required
          ng-model="vm.user.newPassword"
          ng-minlength="6"
          ng-maxlength="32" />
          <div class="notification is-danger"
          ng-class="{ visible: (form.newPassword.$error.minlength && form.newPassword.$touched) }">
            Invalid minlength (min 6 chars)
          </div>
          <div class="notification is-danger"
          ng-class="{ visible: (form.newPassword.$error.maxlength && form.newPassword.$touched) }">
            Invalid minlength (max 32 chars)
          </div>
          <div class="notification is-danger"
          ng-class="{ visible: (form.newPassword.$error.required && form.newPassword.$touched) }">
            A password is required!
          </div>
        </div>

        <div class="control">
          <label>Confirm new password</label>
          <input class="input" type="password" name="confirmPassword" required
          ng-model="vm.user.confirmPassword"
          match="vm.user.newPassword" />
          <div class="notification is-danger"
          ng-class="{ visible: (form.confirmPassword.$error.match && form.confirmPassword.$touched) }">
            Passwords must match!
          </div>
        </div>

        <div class="server-responses" ng-show="vm.serverResponses.length && form.$submitted"></div>

        <div class="control">
          <button class="button is-primary" type="submit">Save changes</button>
        </div>

      </div>
    </div>
  </form>

</section>
