<h1 class="state title is-1">New Gallery</h1>

<section class="gallery-create">
  <form name="form" class="" ng-submit="vm.submit(form)" novalidate>
    <div class="columns">
      <div class="column is-half">

        <div class="control">
          <!-- TODO: add validation, guess country by IP service? -->
          <input id="location" class="input" name="location" type="text" placeholder="Location (e.g. Austria)"
            ng-model="vm.location"
            required
            flabel="Location" />
          <div class="notification is-danger"
            ng-class="{ visible: (form.location.$error.required && (form.location.$touched || form.$submitted)) }">
            Please enter a location name
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="timeframe-from">From</label>
            <input id="timeframe-from" class="input" name="timeframeFrom" type="text"
              placeholder="YYYY-MM-DD"
              pickadate
              max-date="vm.timeframeTo"
              week-starts-on="1"
              ng-model="vm.timeframeFrom"
              ng-required="vm.timeframeTo" />
          </div>
          <div class="column">
            <label for="timeframe-to">To</label>
            <input id="timeframe-to" class="input" name="timeframeTo" type="text"
              placeholder="YYYY-MM-DD"
              pickadate
              min-date="vm.timeframeFrom"
              week-starts-on="1"
              ng-model="vm.timeframeTo" />
          </div>
        </div>

        <div class="control">
          <input id="description" class="input" name="description" type="text" placeholder="Description (e.g. Lots of hiking and sightseeing)"
            ng-model="vm.description"
            flabel="Description" />
        </div>

      </div>

      <div class="column is-half">
        <file-drop-area></file-drop-area>
      </div>

    </div>

    <div class="columns">
      <div class="column is-fullwidth">
        <h2 class="title is-2">Upload List</h2>
        <upload-list></upload-list>
      </div>
    </div>

    <div class="control">
      <button type="submit" class="button is-primary"
        ng-class="{ 'is-disabled': (form.$invalid && form.$submitted) || vm.Upload.isUploadInProgress()}">
        Create
      </button>
    </div>
    <!-- <button ng-click="vm.abortAll()">abort</div> -->

  </form>

</section>
