section.gallery-show {
  position: relative;
  header h1 {
    padding-right: 60px;
  }
  p { margin-bottom: 1em; }
  .user-actions {
    position: absolute;
    top: $gap-top * -2;
    right: $gap-top * -1;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 1em;
  }
}
