<section class="gallery-show">
  <h1 class="state title is-1">{{vm.gallery.location}}</h1>
  <p class="timeframe">
    <span>{{vm.gallery.timeframeFrom | date:'mediumDate'}}</span>
    <span ng-if="vm.gallery.timeframeFrom !== vm.gallery.timeframeTo">
      &nbsp;-&nbsp;
      {{vm.gallery.timeframeTo | date:'mediumDate'}}
    </span>
  </p>
  <p class="description" ng-show="vm.gallery.description">{{vm.gallery.description}}</p>

  <hr>

  <div class="container">
    <gallery-item id="gallery-item-{{$index}}"
      ng-repeat="photo in vm.photos | orderBy: 'position'">
    </gallery-item>

    <article class="gallery-item placeholder"
      ng-repeat="placeholder in [1,2,3]">
      <!-- 'flex-row' placeholder for 'justify-content: space-between' -->
    </article>
  </div>
</section>
