<section class="gallery-create">
  <header>
    <h1 class="state title is-1">New Gallery</h1>
  </header>

  <form name="vm.form" class="" ng-submit="vm.submit(vm.form)" novalidate>
    <div class="columns">
      <div class="column is-half">

        <div class="control">
          <input id="location" class="input" name="location" type="text" placeholder="{{vm.locationPlaceholder}}"
            ng-model="vm.location"
            required
            flabel="Location" />
          <div class="notification is-danger"
            ng-class="{ visible: (vm.form.location.$error.required && (vm.form.location.$touched || vm.form.$submitted)) }">
            Please enter a location name
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <label for="timeframe-from">From</label>
            <input id="timeframe-from" class="input" name="timeframeFrom" type="text" placeholder="YYYY-MM-DD"
              ng-change="vm.syncDate(vm.timeframeFrom)"
              pickadate
              max-date="vm.timeframeTo"
              week-starts-on="1"
              ng-model="vm.timeframeFrom"
              ng-required="vm.timeframeTo" />
          </div>
          <div class="column">
            <label for="timeframe-to">To</label>
            <input id="timeframe-to" class="input" name="timeframeTo" type="text" placeholder="YYYY-MM-DD"
              pickadate
              min-date="vm.timeframeFrom"
              week-starts-on="1"
              ng-model="vm.timeframeTo" />
          </div>
        </div>

        <div class="control">
          <input id="description" class="input" name="description" type="text" placeholder="Description (e.g. Lots of sightseeing and party)"
            ng-model="vm.description"
            flabel="Description" />
        </div>

        <div class="control">
          <button type="submit" class="button is-primary"
            ng-class="{ 'is-disabled': (vm.form.$invalid && vm.form.$submitted) || vm.Upload.isUploadInProgress() || vm.busy,
                        'is-loading': vm.busy }">
            Create
          </button>
        </div>

      </div>

      <div class="column is-half">
        <file-drop-area></file-drop-area>
      </div>

    </div>

    <div class="columns">
      <div class="column is-fullwidth">
        <h2 class="title is-2" ng-show="vm.files.length">Upload List</h2>
        <upload-list></upload-list>
      </div>
    </div>

  </form>

</section>
