<article class="oauth-buttons">
  <a class="button btn-facebook" title="Connect with Facebook" ng-click="OauthButtons.loginOauth('facebook')">
    <i class="fa fa-facebook"></i>
  </a>
  <a class="button btn-twitter" title="Connect with Twitter" ng-click="OauthButtons.loginOauth('twitter')">
    <i class="fa fa-twitter"></i>
  </a>
  <a class="button btn-google" title="Connect with Google" ng-click="OauthButtons.loginOauth('google')">
    <i class="fa fa-google"></i>
  </a>
  <a class="button btn-github" title="Connect with GitHub" ng-click="OauthButtons.loginOauth('github')">
    <i class="fa fa-github"></i>
  </a>
</article>
