form {
  .notification {
    margin-top: 1px;
    padding: 0 $gap-bottom;
    max-height: 0;
    opacity: 0;
    transition: all $fade-speed ease-in-out;

    &.visible {
      padding: 0.5em $gap-bottom;
      max-height: 100%;
      opacity: 1;
    }
    &:not(last-child) {
      margin-bottom: 0;
    }
    code {
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;
      font-size: 0.85em;
    }
  }

  &.ng-submitted {
    .input, .textarea {
      &.ng-invalid { border: 1px solid $red; }
    }
  }

  .input, .textarea {
    &.ng-invalid:not(.ng-untouched),
    &.ng-invalid-pattern,
    &.ng-invalid-email {
      border: 1px solid $red;
    }
  }

  ::-webkit-input-placeholder { color: $grey;}

  .server-responses {
    border-top: 1px solid $grey-light;
    margin-bottom: 10px;
    padding-top: 10px;
  }
}
