article.gallery-item {
  width: 24%;
  align-self: center;
  @include transition-ng-show;

  &.placeholder {
    width: 24%;
    height: 1px;
    padding: 0;
    margin: 0;
    visibility: hidden;
  }
}


@include phone {
  article.gallery-item {
    width: 48%;
  }
}
