.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  height: 200px;
  text-align: center;
  background-color: #eee;
  border: 6px dashed #ccc;
  border-radius: 6px;
  cursor: pointer;
  &.invalid {
    border-color: $red;
    .queueLength {
      color: $red;
    }
  }
  &.dragover {
    border-color: $green;
    background-color: #fff;
  }
  .text-wrapper {
    margin: 0 auto;
  }
  .queueLength {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    padding: 0 0.5em;
    color: $grey-light;
  }
  .notification {
    position: absolute;
    bottom: -6px;
    left: -6px;
    width: 100%;
    width: calc(100% + 12px);
  }
}
