<article class="file-drop-area" name="fileDropArea"
  ngf-drop
  ng-model="vm.files"
  ng-class="{ invalid: (form.queueLength.$invalid && form.$submitted) }">
  <div class="text-wrapper">
    <h1 class="title">
      Drag & drop images here
    </h1>
    <h2 class="subtitle">
      (or click to select files)
    </h2>
  </div>
  <span class="queueLength">{{vm.files.length}}</span>
  <input type="file" ngf-select ng-model="vm.files" />
  <input type="number" name="queueLength" ng-model="vm.files.length" min="1" />
  <div class="notification is-danger"
    ng-class="{ visible: (form.queueLength.$error.min && form.$submitted) }">
    Please add at least 1 image for upload.
  </div>
</article>
