<article class="file-drop-area" name="fileDropArea"
  ngf-drop
  ng-model="vm.files"
  required>
  <div class="text-wrapper">
    <h1 class="title">
      Drag & drop images here
    </h1>
    <h2 class="subtitle">
      (or click to select files)
    </h2>
  </div>
  <input type="file" ngf-select ng-model="vm.files" />
  <div class="notification is-danger"
    ng-class="{ visible: (form.fileDropArea.$error.required && form.$submitted) }">
    Please add at least 1 image for upload.
  </div>
</article>
