<article class="file-drop-area" name="fileDropArea"
  files="vm.files"
  form="vm.form"
  queue-invalid-length="{{queueInvalidLength}}"
  busy="{{vm.busy}}"
  ngf-drop-disabled="{{busy}}"
  ngf-drop
  ng-model="files"
  ng-class="{ invalid: (form.queueLength.$invalid && form.$submitted) }">
  <div class="text-wrapper">
    <h1 class="title">
      Drag & drop images here
    </h1>
    <h2 class="subtitle">
      (or click to select files)
    </h2>
  </div>
  <span class="queueLength">{{ files.length - queueInvalidLength }}</span>
  <span class="queueLength invalid" ng-show="queueInvalidLength > 0">-{{ queueInvalidLength }}</span>
  <input type="file" name="fileSelectInput" ngf-select ng-model="files" ngf-select-disabled="{{busy}}" />
  <input type="number" name="queueLength" ng-model="files.length" min="1" />
  <div class="notification is-danger"
    ng-class="{ visible: (form.queueLength.$error.min && form.$submitted) }">
    Please add at least 1 image for upload.
  </div>
</article>
