article.gallery-list-item {
  position: relative; // -> footer is absolute
  flex: 1 0 0;
  min-width: 24%;
  max-width: 0;
  padding-bottom: 20px;
  text-align: center;
  @include transition-ng-show;

  &.placeholder {
    height: 1px;
    padding: 0;
    margin: 0;
    visibility: hidden;
  }

  h2.title { margin-bottom: 0.25em; }
  p { margin-bottom: 1em; }

  .item-head {
    position: relative;
    display: inline-block;
    span.tag {
      position: absolute;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.33);
      font-weight: bold;
      border: 1px solid #fff;
      cursor: default;
      &.user-name {
        top: -5px;
        right: -5px;
      }
      &.photo-count {
        bottom: 5px;
        left: -5px;
        border-radius: 0px;
        border: 1px solid $grey-lighter;
      }
    }
  }

  .item-body {
    text-align: left;
  }

  footer {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: $grey;
  }
}


@include tablet {
  article.gallery-list-item {
    min-width: 32%;
  }
}

@include phone {
  article.gallery-list-item {
    min-width: 49%;
  }
}

@include phone-xs {
  article.gallery-list-item {
    min-width: 100%;
  }
}
