header.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  border-bottom: 1px solid $grey-light;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);

  a {
    &:focus {
      outline: 0px dotted transparent;
    }
    &:active {
      outline: 0px dotted transparent;
    }
  }

  .header-left {
    & > a:first-child {
      padding: 0 20px;
      margin-bottom: 0px;
      font-weight: bold;
    }
  }
}
