// Typography

$family-sans-serif: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "Source Code Pro", "Monaco", "Inconsolata", monospace;

$family-primary: $family-sans-serif;
$family-code: $family-monospace;

$size-1: 1.8em;
$size-2: 1.6em;
$size-3: 1.5em;
$size-4: 1.4em;
$size-5: 1.2em;
$size-6: 1.1em;
$size-7: 0.9em;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6;

$size-small: $size-7;
$size-normal: 12px;
$size-medium: $size-5;
$size-large: $size-3;
$size-huge: $size-1;

$weight-normal: 400;
$weight-bold: 700;
$weight-title-normal: 300;
$weight-title-bold: 500;


// Breakpoints

$screen-xs: 360px;
$screen-s: 480px;
$screen-m: 600px;
$screen-l: 768px;
$screen-xl: 960px;
$screen-xxl: 1140px;

$screen-max: $screen-xl;


// Dimensions

$header-height: 50px;
$footer-height: 40px;

// horizontal gap
$gap-left-right: 10px;
$gap-left: $gap-left-right;
$gap-right: $gap-left-right;

// vertical gap
$gap-top-bottom: 10px;
$gap-top: $gap-top-bottom;
$gap-bottom: $gap-top-bottom;


// Miscellaneous

$radius: 3px;
$easing: ease-out;
$fade-speed: 200ms;
