<section class="signup">
  <header>
    <h1 class="state title is-1">Sign Up</h1>
  </header>

  <form name="form" ng-submit="vm.register(form)" novalidate>
    <div class="columns">
      <div class="column is-half">

        <div class="control">
          <input class="input" type="text" name="name" placeholder="Username" required
          ng-model="vm.user.name"
          ng-pattern="/^[a-zA-Z0-9_-]*$/"
          ng-minlength="3"
          ng-maxlength="16"
          mongoose-error
          flabel />
          <div class="notification is-danger"
          ng-class="{ visible: (form.name.$error.pattern && form.name.$touched) }">
            Invalid username pattern (no whitespaces <code>[a-zA-Z0-9_-]</code>)
          </div>
          <div class="notification is-danger"
          ng-class="{ visible: (form.name.$error.minlength && form.name.$touched) }">
            Invalid minlength (min 3 chars)
          </div>
          <div class="notification is-danger"
          ng-class="{ visible: (form.name.$error.maxlength && form.name.$touched) }">
            Invalid minlength (max 16 chars)
          </div>
          <div class="notification is-danger"
          ng-class="{ visible: (form.name.$error.required && form.name.$touched) }">
            A username is required!
          </div>
          <div class="notification is-danger"
          ng-class="{ visible: (form.name.$error.mongoose && form.$submitted) }">
            {{ vm.errors.name }}
          </div>
        </div>

        <div class="control">
          <input class="input" type="email" name="email" placeholder="Email" required
          ng-model="vm.user.email"
          mongoose-error
          flabel />
          <div class="notification is-danger"
          ng-class="{ visible: (form.email.$error.email && form.email.$touched) }">
            Doesn't look like a valid email.
          </div>
          <div class="notification is-danger"
          ng-class="{ visible: (form.email.$error.required && form.email.$touched) }">
            An email address is required!
          </div>
          <div class="notification is-danger"
          ng-class="{ visible: (form.email.$error.mongoose && form.$submitted) }">
            {{ vm.errors.email }}
          </div>
        </div>

        <div class="control">
          <input class="input" type="password" name="password" placeholder="Password" required
          ng-model="vm.user.password"
          ng-minlength="6"
          ng-maxlength="32"
          mongoose-error
          flabel />
          <div class="notification is-danger"
          ng-class="{ visible: (form.password.$error.minlength && form.password.$touched) }">
            Invalid minlength (min 6 chars)
          </div>
          <div class="notification is-danger"
          ng-class="{ visible: (form.password.$error.maxlength && form.password.$touched) }">
            Invalid minlength (max 32 chars)
          </div>
          <div class="notification is-danger"
          ng-class="{ visible: (form.password.$error.required && form.password.$touched) }">
            A password is required!
          </div>
          <div class="notification is-danger"
          ng-class="{ visible: (form.password.$error.mongoose && form.$submitted) }">
            {{ vm.errors.password }}
          </div>
        </div>

        <div class="control">
          <input class="input" type="password" name="confirmPassword" placeholder="Confirm Password" required
          ng-model="vm.user.confirmPassword"
          match="vm.user.password"
          flabel />
          <div class="notification is-danger"
          ng-class="{ visible: (form.confirmPassword.$error.match && form.password.$touched) }">
            Passwords must match!
          </div>
        </div>

        <div class="control">
          <button class="button is-primary" type="submit">Sign up</button>
          <a class="button" ui-sref="login">Login</a>
        </div>

      </div>
    </div>
  </form>

  <footer>
    <hr />
    <oauth-buttons classes="button"></oauth-buttons>
  </footer>

</section>
