article.gallery-list-item {
  position: relative; // -> footer is absolute
  flex: 0 0 24%;
  padding: 10px;

  h2.title { margin-bottom: 0.25em; }
  p { margin-bottom: 1em; }

  .preview-image {
    position: relative;
    img {
      display: block;
      padding: 1px;
      margin-bottom: 1em;
      background: #fff;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    }
    span.tag {
      position: absolute;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.33);
      font-weight: bold;
      border: 1px solid #fff;
      cursor: default;
      &.user-name {
        top: -5px;
        right: -5px;
      }
      &.photo-count {
        bottom: -5px;
        left: -5px;
        border-radius: 0px;
        border: 1px solid $grey-lighter;
      }
    }
  }

  footer {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: $grey;
  }
}

.nothing-found {
  display: block;
  width: 100%;
  padding: 4em 0 0;
  text-align: center;
  font-weight: bold;
  h1 { color: $grey; }
}

article.gallery-list-item + .nothing-found {
  display: none;
}

article.gallery-list-item.placeholder {
  height: 1px;
  padding: 0;
  margin: 0;
  visibility: hidden;
}
