.gallery-list-item {
  display: flex;
  width: 18em;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;
  .content {
    width: 196px;
    .preview-image {
      img {
        display: block;
        padding: 1px;
        margin-bottom: 1em;
        background: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
      }
    }
  }
}
