article.gallery-list-item {
  position: relative;
  flex: 0 0 24%;
  margin-bottom: 20px;
  padding: 10px 10px 30px 10px;
  // &:nth-child(3n-1) {
  //   margin-left: 2%;
  //   margin-right: 2%;
  // }
  h2.title {
    margin-bottom: 0.25em;
  }
  p {
    margin-bottom: 1em;
  }
  .preview-image {
    img {
      display: block;
      padding: 1px;
      margin-bottom: 1em;
      background: #fff;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    }
  }
  span.user-name {
    position: absolute;
    top: 5px;
    right: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.33);
    font-weight: bold;
    border: 1px solid #fff;
  }
  footer {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: $grey;
  }
}

.nothing-found {
  display: block;
  width: 100%;
  padding: 4em 0 0;
  text-align: center;
  font-weight: bold;
  h1 { color: $grey; }
}

article.gallery-list-item + .nothing-found {
  display: none;
}

article.gallery-list-item.placeholder {
  height: 1px;
  padding: 0;
  margin: 0;
  visibility: hidden;
}
