html {
  background-color: #eee;
}

.block {
  &:not(:last-child) {
    margin-bottom: 0;
  }
}

.title, .subtitle, .box {
  &:last-child, &:not(:last-child) {
    margin-bottom: $default-gap-bottom;
  }
}

.control {
  margin-bottom: $default-gap-bottom;
}

.tag {
  border-radius: 10px;
  height: auto;
  line-height: 1em;
  padding: 4px 8px;
}

@media screen and (max-width: 768px) {

  .header .container {
    flex-direction: inherit;
  }

  .header-menu {
    display: flex;
    box-shadow: none;
  }

  .header-menu .header-item {
    border-top-width: 0;
  }

}
