@each $name, $pair in $colors {
  $color: nth($pair, 1);
  a {
    &.is-#{$name} {
      color: $color;
      &:hover,
      &:focus {
        color: darken($color, 10%);
      }
    }
  }
  span {
    &.is-#{$name} {
      color: $color;
    }
  }
}
