@each $name, $pair in $colors {
  $color: nth($pair, 1);
  a {
    &.is-#{$name} {
      color: $color;
      &:hover,
      &:focus {
        color: darken($color, 10%);
      }
    }
  }
  span {
    &.is-#{$name} {
      color: $color;
    }
  }
}

.button.is-loading.is-disabled {
  color: transparent;
}

.header-tab {
  &:not(.is-active) {
    &:hover, &:focus {
      border-bottom: 1px solid $link;
      color: $grey-darker;
    }
  }
}
