.upload-list {

  .row.body {
    .cell {
      &.name, &.image-dims, &.size {
        font-family: monospace;
      }
    }
    &.has-error {
      .cell {
        &.name, &.image-dims, &.size {
          color: $grey-light;
          text-decoration: line-through;
        }
        &.actions > a {
          display: none;
        }
      }
    }
  }

  .cell {
    &.preview-thumb {
      width: 100px;
      max-height: 100px;
      text-align: center;
      img {
        display: block;
        padding: 1px;
        background: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
      }
    }
    &.upload-progress {
      width: 150px;
      text-align: center;
    }
    &.actions {
      width: 50px;
    }
  }

  .progress-bar {
    position: relative;
    height: 17px;
    border: 1px solid $grey-dark;
    text-align: center;
    background-color: $grey-lighter;
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 0%;
      height: 100%;
      background-color: $grey-light;
    }
    .percentage-text {
      position: relative;
      z-index: 2;
      font-size: 11px;
      font-family: monospace;
    }
    &.in-progress .bar { transition: width 100ms linear; }
    &.finished {
      .bar { background-color: $green; }
      .percentage-text { color: #fff; }
    }
  }

  .not-uploading {
    abbr {
      font-family: monospace;
    }
  }

}

.pseudo-table {
  display: table;
  width: 100%;
  border: 1px solid $grey-light;
  border-collapse: collapse;
  background-color: #fff;
  .row {
    display: table-row;
    border-bottom: 1px solid $grey-light;
    &:last-child { border-bottom-width: 0; }
    &:nth-child(odd) {
      background-color: #fff;
    }
    &:nth-child(even) {
      background-color: $grey-lighter;
    }
  }
  .row.head {
    border-bottom-width: 1px;
    .cell {
      font-weight: bold;
    }
  }
  .cell {
    display: table-cell;
    padding: 0.5em 1em;
    text-align: left;
    vertical-align: middle;
    &.align-center { text-align: center; }
    &.align-right { text-align: right; }
  }

}
