<article class="upload-list" upload="vm.Upload" files="files">
  <div class="pseudo-table">
    <div class="row head">
      <div class="cell name">Filename</div>
      <div class="cell image-dims">Dimensions</div>
      <div class="cell size">Size</div>
      <div class="cell upload-progress">Upload progress</div>
      <div class="cell preview-thumb">Preview</div>
      <div class="cell actions"></div>
    </div>
    <div class="row body" ng-repeat="file in files track by $index" ng-class="{ 'has-error': file.$error }">
      <div class="cell name">
        {{file.name}}
      </div>
      <div class="cell image-dims">
        {{ file.dimensions.width }}&times;{{ file.dimensions.height }}
      </div>
      <div class="cell size">
        {{convertBytesToKB(file.size)}} KB
      </div>
      <div class="cell upload-progress">
        <div class="progress-bar"
          ng-hide="file.fileAlreadyExists || file.$error"
          ng-class="{ 'in-progress': (file.progress >= 0 && file.progress < 100), 'finished': file.progress == 100 }">
          <span class="bar" style="width:{{file.progress}}%"></span>
          <span class="percentage-text" ng-bind="file.progress + ' %'" ng-show="file.progress > 0"></span>
        </div>

        <div class="not-uploading" ng-show="file.fileAlreadyExists">
          <span class="is-success">skip</span><br>
          <small>( <abbr title="{{ file.md5 }}">md5</abbr> found on server )</small>
        </div>

        <div class="not-uploading" ng-show="file.$error">
          <span class="is-danger">skip</span> <small>( <abbr title="{{ file.$error }}">invalid</abbr> )</small>
        </div>

      </div>
      <div class="cell preview-thumb">
        <img ngf-thumbnail="!file.$error && file" ngf-size="{width: 80, quality: 0.9}"/>
      </div>
      <div class="cell actions">
        <a href="#" class="remove is-danger"
          ng-click="removeFile($index)"
          ng-hide="upload.isUploadInProgress()">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>
    </div>
  </div>
</article>
