<article class="upload-list" upload="vm.Upload" files="files" invalid-files="vm.invalidFiles">
  <div class="pseudo-table">
    <div class="row head">
      <div class="cell name">Filename</div>
      <div class="cell image-dims">Dimensions</div>
      <div class="cell size">Size</div>
      <div class="cell upload-progress">Upload progress</div>
      <div class="cell preview-thumb">Preview</div>
      <div class="cell actions"></div>
    </div>
    <div class="row body" ng-repeat="file in files track by $index">
      <div class="cell name">
        {{file.name}}
      </div>
      <div class="cell image-dims">
        {{ file.dimensions.width }}&times;{{ file.dimensions.height }}
      </div>
      <div class="cell size">
        {{convertBytesToKB(file.size)}} KB
      </div>
      <div class="cell upload-progress">
        <div class="progress-bar"
          ng-hide="file.fileAlreadyExists"
          ng-class="{ 'in-progress': (file.progress >= 0 && file.progress < 100), 'finished': file.progress == 100 }">
          <span class="bar" style="width:{{file.progress}}%"></span>
          <span class="percentage-text" ng-bind="file.progress + ' %'" ng-show="file.progress > 0"></span>
        </div>
        <div class="md5-found-on-server" ng-show="file.fileAlreadyExists">
          skip<br>
          <small>( <abbr title="{{ file.md5 }}">md5</abbr> found on server )</small>

        </div>

        <!-- <span class="progress" ng-show="picFile.progress >= 0">
            <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
        </span> -->

      </div>
      <div class="cell preview-thumb">
        <img ngf-thumbnail="!file.$error && file" ngf-size="{width: 80, quality: 0.9}"/>
      </div>
      <div class="cell actions">
        <a href="#" class="remove is-danger"
          ng-click="removeFile($index)"
          ng-hide="upload.isUploadInProgress()">
          <i class="fa fa-trash-o"></i>
        </a>
      </div>
    </div>
  </div>
</article>
