<article class="upload-list" ng-show="vm.files.length" ng-class="{visible: vm.files.length}" ng-cloak>
  <h2 class="title is-2">Upload List</h2>

  <div class="pseudo-table">
    <div class="row head">
      <div class="cell name">Filename</div>
      <div class="cell image-dims">Dimensions</div>
      <div class="cell size">Size</div>
      <div class="cell upload-progress">Upload progress</div>
      <div class="cell preview-thumb">Preview</div>
      <div class="cell actions">Actions</div>
    </div>
    <div class="row" ng-repeat="file in vm.files">
      <div class="cell name">
        {{file.name}}
      </div>
      <div class="cell image-dims">
        TODO
      </div>
      <div class="cell size">
        {{convertBytesToKB(file.size)}} KB
      </div>
      <div class="cell upload-progress">
        TODO
      </div>
      <div class="cell preview-thumb">
        <img ngf-src="file" />
      </div>
      <div class="cell actions">
        <a href="#" class="remove"><i class="fa fa-trash-o"></i></a>
      </div>
    </div>
  </div>
</article>
