.preview-image {
  & > a {
    &:hover, &:focus, &:active {
      outline: 0px dotted transparent;
      img { box-shadow: 0 0 12px rgba(0, 0, 0, 0.8); }
    }
    &:focus {
      img {
        padding: 0;
        border: 1px solid $link;
      }
    }
  }
  img {
    display: block;
    padding: 1px;
    margin-bottom: 1em;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    max-height: 200px;
    margin: 0 auto 1em;
  }
}
